<header>
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav row full-width logo">

          <li>
            <a href="/dorsal">
              <img class="logo-entreprise" src="assets/images/logo_produit.png">
              <span>Dorsale</span>
            </a>
          </li>

          <li class="col nav-item dropdown hvr-back-pulse bold">
            <a href="index_dashboard" class="nav-link" id="dropdownmenu1"> Dashboard </a>
          </li>

          <li class="col nav-item dropdown hvr-back-pulse bold">
            <a href="index_supervision" class="nav-link" id="dropdownmenu2""> Supervision </a>
          </li>

          <li class="col nav-item dropdown hvr-back-pulse bold">
            <a href="index_managment" class="nav-link" id="dropdownmenu3"> Management </a>
          </li>

        </div>
      </div>
    </nav>
  </div>
</header>