<aside>
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-12 title-menu">
            <p>Liste des salles</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 liste-salles">
            <ul>
              <li><a href="">Principale</a></li>
              <li><a href="">Salle technique 1</a></li>
              <li><a href="">Salle technique 2</a></li>
              <li><a href="">Salle technique 3</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>  
</aside>